{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}Tuklab{% endblock %}
{% block page_content %}
<div class="container-fluid" >
<div class="container-fluid text-center bg-1">
<h1 class="text-center" style="font-family:Purisa; font-size:50px;">About</h1>

<img src="static/favicon.ico" height=200px width=200px class="img-circle"/>

<h3 style="font-family:Umpush; font-size:40px;"> Tuklab </h3>
<p style="font-family:URW Chancery L; font-size:30px;">We are a micro-blogging platform built on python</p>
<p style="font-family:FreeSerif; font-size:30px;">Come on! Join the band-wagon</p>
</div>
</div>

{% endblock %}
